<div class="container">
  <!-- <div class="header">
    <ul class="list-wrapper">
      <li class="list"><a class="linkHeader" routerLink="/">Todo</a></li>
    </ul>
    <ul class="list-wrapper">
      <li>
        <a routerLink="/todos">ToDos</a>
      </li>
      <li>
        <a>About</a>
      </li>
      <li>
        <a>Github</a>
      </li>
    </ul>
  </div> -->
  <div class="main">
    <div class="content">
      <h1>Welcome to ToDos</h1>
      <h2>Feel free to take your todos</h2>
      <button class="btn" role="link" routerLink="/todos">
        <span class="text">Make a new Todos</span>
      </button>
    </div>
  </div>
</div>
